In [14]:
import pandas as pd
import geopandas as gpd

In [15]:
simplify_dir = 'GTFS/stop_snapping/GIS Simplify/'
gtfs_dir = 'GTFS/TTC_2016-10-03/'

In [16]:
int_tts = pd.read_csv('GIS/int_tts.csv')

In [17]:
int_stops = pd.read_csv(simplify_dir + 'int_stop.csv')

In [18]:
tts = gpd.read_file('GIS/tts.geojson')

In [19]:
tts_2500 = gpd.read_file('GIS/TTS Stop Capture/tts_5k_capture.geojson')

In [20]:
tts_2500

,gta06,pd,lat,lon,INT_ID,int_lon,int_lat,geometry
0,18,1,43.661764,-79.361630,110,-79.396989,43.697748,"MULTIPOLYGON (((637099.671 4835610.994, 636854..."
1,23,1,43.660155,-79.371957,110,-79.396989,43.697748,"MULTIPOLYGON (((636270.452 4835415.880, 636025..."
2,68,1,43.656315,-79.393869,110,-79.396989,43.697748,"MULTIPOLYGON (((634511.910 4834954.988, 634267..."
3,75,1,43.654656,-79.402574,110,-79.396989,43.697748,"MULTIPOLYGON (((633813.575 4834757.123, 633568..."
4,96,2,43.658711,-79.420894,110,-79.396989,43.697748,"MULTIPOLYGON (((632327.682 4835179.229, 632082..."
...,...,...,...,...,...,...,...,...
248068,548,14,43.733758,-79.230619,13458312,-79.263999,43.696994,"MULTIPOLYGON (((647492.382 4843823.911, 647247..."
248069,532,13,43.729208,-79.253050,13458312,-79.263999,43.696994,"MULTIPOLYGON (((645696.616 4843280.172, 645451..."
248070,519,13,43.735332,-79.242852,13458312,-79.263999,43.696994,"MULTIPOLYGON (((646503.542 4843977.757, 646258..."
248071,538,13,43.696516,-79.282335,13458312,-79.263999,43.696994,"MULTIPOLYGON (((643413.249 4839600.011, 643168..."
248072,537,13,43.704959,-79.287200,13458312,-79.263999,43.696994,"MULTIPOLYGON (((643001.835 4840529.557, 642757..."

In [21]:
tts_2500 = tts_2500[['gta06', 'lat', 'lon', 'INT_ID', 'int_lat', 'int_lon']].sort_values(
    by = 'gta06').reset_index().drop(columns = ['index'])
tts_2500.to_csv('GIS/TTS Stop Capture/tts_int_5k.csv', index = False)

In [22]:
tts_2500

        gta06        lat        lon    INT_ID    int_lat    int_lon
0           1  43.666017 -79.308431  13461421  43.680793 -79.310755
1           1  43.666017 -79.308431  13458740  43.695130 -79.303481
2           1  43.666017 -79.308431  13456446  43.709170 -79.293912
3           1  43.666017 -79.308431  13463082  43.671580 -79.325075
4           1  43.666017 -79.308431  13463032  43.671400 -79.293527
...       ...        ...        ...       ...        ...        ...
248068    625  43.821352 -79.187702  13442883  43.804163 -79.190154
248069    625  43.821352 -79.187702  13442793  43.805540 -79.211557
248070    625  43.821352 -79.187702  14630494  43.836646 -79.231527
248071    625  43.821352 -79.187702  20232429  43.783738 -79.164693
248072    625  43.821352 -79.187702  13444398  43.790111 -79.173401

[248073 rows x 6 columns]