In [1]:
import networkx as nx
import pandas as pd
import numpy as np
from scipy import stats
import statistics
import itertools

In [2]:
simplify_dir = '/Volumes/Data2/RST/notebook/GTFS/TTC_2016-10-03/GIS Simplify/'
gtfs_dir = '/Volumes/Data2/RST/notebook/GTFS/TTC_2016-10-03/'

In [3]:
ward_int = pd.read_csv('/Volumes/Data2/RST/notebook/GIS/int_wards.csv')
ward_int['INT_ID_STR'] = ward_int['INT_ID'].astype(str)

In [4]:
period = 'AM'
period_hr = 7

In [5]:
G = nx.read_gexf('/Volumes/Data2/RST/notebook/networks/' + period +'-RM-16-singleDi.gexf')
graph_data = pd.read_csv('/Volumes/Data2/RST/notebook/networks/' + period +'-RM-16-singleDi.csv')
stop_times_od = pd.read_csv(gtfs_dir + 'stop_times_full.csv')

In [83]:
route_dir = stop_times_od[stop_times_od['hr_o'] == period_hr]
route_dir = route_dir[['INT_ID_o', 'INT_ID_d', 'route_short_name']].drop_duplicates()
route_dir = route_dir.groupby(['INT_ID_o', 'INT_ID_d'])['route_short_name'].apply(list).reset_index()
route_dir = route_dir.merge(graph_data)

In [123]:
def func(row):

    single_cycle = row.copy()
    single_cycle.append(single_cycle[0])
    single_cycle.append(None)


    cycle_pairs = list(zip(single_cycle [::1], single_cycle [1::1]))[:-1]
    cycle_pairs = [list(map(int, sublist)) for sublist in cycle_pairs]
    cycle_df = route_dir.merge(pd.DataFrame.from_records(cycle_pairs, columns = ['INT_ID_o', 'INT_ID_d']))

    first_route = cycle_df.iloc[0,2]

    #check for cycles where it can be traversed by 1 route, ie eliminate out and back trips
    for route in first_route:
        if len(cycle_df[cycle_df['route_short_name'].apply(lambda x: route in x)]) == len(cycle_df):
            return ward,0,0,1
            break
        else:
            return ward, 1, cycle_df['scaled_freq'].min(), 0

In [131]:
result_list = []
ward_n = []

for ward in range(10,21,1):

    G_ward = G.copy()


    G_ward.remove_nodes_from(list(ward_int[ward_int['AREA_SHORT_CODE'] != ward]['INT_ID_STR']))

    N = G_ward.size()

    #find cycles
    cycle_list = list(nx.simple_cycles(G_ward))
    print('Ward ' + str(ward) + ', Size ' + str(N) + ' Found '+ str(len(cycle_list)) + ' cycles')

    temp_list = list(map(func, cycle_list))

    result_list.append(temp_list)
    ward_n.append([ward, N])

Ward 10, Size 134 Found 251 cycles
Ward 11, Size 190 Found 4253 cycles
Ward 12, Size 158 Found 89 cycles
Ward 13, Size 150 Found 1222 cycles
Ward 14, Size 269 Found 8763 cycles
Ward 15, Size 251 Found 154 cycles
Ward 16, Size 197 Found 797 cycles
Ward 17, Size 207 Found 360 cycles
Ward 18, Size 209 Found 358 cycles
Ward 19, Size 238 Found 170 cycles
Ward 20, Size 322 Found 2343 cycles

In [132]:
combined = list(itertools.chain.from_iterable(result_list))
result_df = pd.DataFrame.from_records(
    combined, columns = ['ward', 'cycles', 'scaled_cycles', 'removed_cycles']).groupby(
    'ward').sum().reset_index()
result_df = result_df.merge(pd.DataFrame.from_records(ward_n, columns = ['ward', 'N']))
result_df

    ward  cycles  scaled_cycles  removed_cycles    N
0     10     198         8.9125              53  134
1     11    4171       121.9875              82  190
2     12      22         0.8625              67  158
3     13    1160        19.2375              62  150
4     14    8642       363.9250             121  269
5     15      42         1.6125             112  251
6     16     725        20.2750              72  197
7     17     265        14.4875              95  207
8     18     268         7.5875              90  209
9     19      73         4.8625              97  238
10    20    2199        98.7875             144  322

In [135]:
result_df['cycle_availability'] = result_df['scaled_cycles']/(2 * result_df['N'] + 5)

In [136]:
result_df = result_df.merge(ward_int[['AREA_NAME', 'AREA_SHORT_CODE']].drop_duplicates(), left_on = ['ward'], 
                 right_on = ['AREA_SHORT_CODE']).rename(columns = {'AREA_NAME':'ward_name'}).drop(
    columns = ['AREA_SHORT_CODE'])
result_df.sort_values(by = 'cycle_availability', ascending = False)

,ward,cycles,scaled_cycles,removed_cycles,N,cycle_availability,ward_name
4,14,8642,363.9250,121,269,0.670212,Toronto-Danforth
1,11,4171,121.9875,82,190,0.316851,University-Rosedale
10,20,2199,98.7875,144,322,0.152215,Scarborough Southwest
3,13,1160,19.2375,62,150,0.063074,Toronto Centre
6,16,725,20.2750,72,197,0.050815,Don Valley East
7,17,265,14.4875,95,207,0.034576,Don Valley North
0,10,198,8.9125,53,134,0.032647,Spadina-Fort York
8,18,268,7.5875,90,209,0.017937,Willowdale
9,19,73,4.8625,97,238,0.010109,Beaches-East York
5,15,42,1.6125,112,251,0.003180,Don Valley West
2,12,22,0.8625,67,158,0.002687,Toronto-St. Paul's

In [ ]:
results_df.to_csv('cycles-' + period + )