In [59]:
import pandas as pd
import numpy as np

In [60]:
raw = pd.read_csv('cleaned_scarborough/raw_scarborough_2019-12-18_AM.csv')
#raw = raw.drop(columns = ['platform1_start_time', 'platform2_end_time', 'station1_end_time', 'station2_start_time'])

In [61]:
raw

,station1,station2,platform1_end_time,platform2_start_time,year,month,day,hour,date,dow,period
0,lawrence_east,kennedy,2019-12-18 11:22:02.528000-05:00,2019-12-18 11:36:11.176000-05:00,2019,12,18,11,2019-12-18,2,AM
1,lawrence_east,kennedy,2019-12-18 11:31:21.893000-05:00,2019-12-18 11:36:12.783000-05:00,2019,12,18,11,2019-12-18,2,AM
2,lawrence_east,kennedy,2019-12-18 11:26:13.139000-05:00,2019-12-18 11:35:27.137000-05:00,2019,12,18,11,2019-12-18,2,AM
3,kennedy,lawrence_east,2019-12-18 11:27:28.025000-05:00,2019-12-18 11:38:26.929000-05:00,2019,12,18,11,2019-12-18,2,AM
4,lawrence_east,kennedy,2019-12-18 11:31:29.377000-05:00,2019-12-18 11:35:27.616000-05:00,2019,12,18,11,2019-12-18,2,AM
...,...,...,...,...,...,...,...,...,...,...,...
350,lawrence_east,kennedy,2019-12-18 10:10:39.021000-05:00,2019-12-18 10:15:04.661000-05:00,2019,12,18,10,2019-12-18,2,AM
351,lawrence_east,kennedy,2019-12-18 10:49:36.537000-05:00,2019-12-18 10:56:14.705000-05:00,2019,12,18,10,2019-12-18,2,AM
352,lawrence_east,kennedy,2019-12-18 10:38:51.101000-05:00,2019-12-18 10:47:32.126000-05:00,2019,12,18,10,2019-12-18,2,AM
353,lawrence_east,kennedy,2019-12-18 10:06:03.495000-05:00,2019-12-18 10:13:54.456000-05:00,2019,12,18,10,2019-12-18,2,AM
354,lawrence_east,kennedy,2019-12-18 10:31:43.215000-05:00,2019-12-18 10:39:59.775000-05:00,2019,12,18,10,2019-12-18,2,AM

In [62]:
raw[['station1', 'station2']].drop_duplicates()

        station1       station2
0  lawrence_east        kennedy
3        kennedy  lawrence_east

In [63]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   station1              355 non-null    object
 1   station2              355 non-null    object
 2   platform1_end_time    355 non-null    object
 3   platform2_start_time  355 non-null    object
 4   year                  355 non-null    int64
 5   month                 355 non-null    int64
 6   day                   355 non-null    int64
 7   hour                  355 non-null    int64
 8   date                  355 non-null    object
 9   dow                   355 non-null    int64
 10  period                355 non-null    object
dtypes: int64(5), object(6)
memory usage: 30.6+ KB

In [64]:
raw['platform1_end_time'] = pd.DatetimeIndex(raw['platform1_end_time'], tz = 'America/Toronto')
raw['platform2_start_time'] = pd.DatetimeIndex(raw['platform2_start_time'], tz = 'America/Toronto')
raw = raw.sort_values(by = 'platform2_start_time')

In [65]:
raw.groupby(['station1', 'station2']).count()

,,platform1_end_time,platform2_start_time,year,month,day,hour,date,dow,period
station1,station2,,,,,,,,,
kennedy,lawrence_east,71,71,71,71,71,71,71,71,71
lawrence_east,kennedy,284,284,284,284,284,284,284,284,284

# For One Station Pair

We'll analyze the gaps in service for the dominant direction. No point in analyzing both directions since the line is so short and any shutdowns will affecte the whole line.

In [66]:
test_left = raw[(raw['station1'] == 'lawrence_east') & (raw['station2'] == 'kennedy')].copy()

In [67]:
test_left = test_left.reset_index(drop = True).reset_index()
test_right = test_left.copy()
test_right['index'] = test_right['index'] - 1

test_left

,index,station1,station2,platform1_end_time,platform2_start_time,year,month,day,hour,date,dow,period
0,0,lawrence_east,kennedy,2019-12-18 07:05:09.172000-05:00,2019-12-18 07:08:46.844000-05:00,2019,12,18,7,2019-12-18,2,AM
1,1,lawrence_east,kennedy,2019-12-18 07:04:55.817000-05:00,2019-12-18 07:09:19.200000-05:00,2019,12,18,7,2019-12-18,2,AM
2,2,lawrence_east,kennedy,2019-12-18 07:04:52.901000-05:00,2019-12-18 07:09:20.023000-05:00,2019,12,18,7,2019-12-18,2,AM
3,3,lawrence_east,kennedy,2019-12-18 07:04:40.169000-05:00,2019-12-18 07:09:34.800000-05:00,2019,12,18,7,2019-12-18,2,AM
4,4,lawrence_east,kennedy,2019-12-18 07:04:59.016000-05:00,2019-12-18 07:10:01.194000-05:00,2019,12,18,7,2019-12-18,2,AM
...,...,...,...,...,...,...,...,...,...,...,...,...
279,279,lawrence_east,kennedy,2019-12-18 11:41:08.897000-05:00,2019-12-18 11:45:30.449000-05:00,2019,12,18,11,2019-12-18,2,AM
280,280,lawrence_east,kennedy,2019-12-18 11:40:36.595000-05:00,2019-12-18 11:46:24.191000-05:00,2019,12,18,11,2019-12-18,2,AM
281,281,lawrence_east,kennedy,2019-12-18 11:48:25.424000-05:00,2019-12-18 11:55:39.248000-05:00,2019,12,18,11,2019-12-18,2,AM
282,282,lawrence_east,kennedy,2019-12-18 11:48:08.890000-05:00,2019-12-18 11:55:46.575000-05:00,2019,12,18,11,2019-12-18,2,AM
283,283,lawrence_east,kennedy,2019-12-18 11:51:26.984000-05:00,2019-12-18 11:57:43.213000-05:00,2019,12,18,11,2019-12-18,2,AM

In [68]:
test = test_left.merge(test_right[['index', 'platform1_end_time', 'platform2_start_time']], left_on = ['index'], right_on = ['index'], suffixes = ['_left', '_right'])

In [69]:
test['gap'] = (test['platform2_start_time_right'] - test['platform2_start_time_left']).dt.seconds
test

,index,station1,station2,platform1_end_time_left,platform2_start_time_left,year,month,day,hour,date,dow,period,platform1_end_time_right,platform2_start_time_right,gap
0,0,lawrence_east,kennedy,2019-12-18 07:05:09.172000-05:00,2019-12-18 07:08:46.844000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:55.817000-05:00,2019-12-18 07:09:19.200000-05:00,32
1,1,lawrence_east,kennedy,2019-12-18 07:04:55.817000-05:00,2019-12-18 07:09:19.200000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:52.901000-05:00,2019-12-18 07:09:20.023000-05:00,0
2,2,lawrence_east,kennedy,2019-12-18 07:04:52.901000-05:00,2019-12-18 07:09:20.023000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:40.169000-05:00,2019-12-18 07:09:34.800000-05:00,14
3,3,lawrence_east,kennedy,2019-12-18 07:04:40.169000-05:00,2019-12-18 07:09:34.800000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:59.016000-05:00,2019-12-18 07:10:01.194000-05:00,26
4,4,lawrence_east,kennedy,2019-12-18 07:04:59.016000-05:00,2019-12-18 07:10:01.194000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:01:48.788000-05:00,2019-12-18 07:10:25.793000-05:00,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,278,lawrence_east,kennedy,2019-12-18 11:40:32.883000-05:00,2019-12-18 11:45:14.793000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:41:08.897000-05:00,2019-12-18 11:45:30.449000-05:00,15
279,279,lawrence_east,kennedy,2019-12-18 11:41:08.897000-05:00,2019-12-18 11:45:30.449000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:40:36.595000-05:00,2019-12-18 11:46:24.191000-05:00,53
280,280,lawrence_east,kennedy,2019-12-18 11:40:36.595000-05:00,2019-12-18 11:46:24.191000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:48:25.424000-05:00,2019-12-18 11:55:39.248000-05:00,555
281,281,lawrence_east,kennedy,2019-12-18 11:48:25.424000-05:00,2019-12-18 11:55:39.248000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:48:08.890000-05:00,2019-12-18 11:55:46.575000-05:00,7
282,282,lawrence_east,kennedy,2019-12-18 11:48:08.890000-05:00,2019-12-18 11:55:46.575000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:51:26.984000-05:00,2019-12-18 11:57:43.213000-05:00,116

In [70]:
test

,index,station1,station2,platform1_end_time_left,platform2_start_time_left,year,month,day,hour,date,dow,period,platform1_end_time_right,platform2_start_time_right,gap
0,0,lawrence_east,kennedy,2019-12-18 07:05:09.172000-05:00,2019-12-18 07:08:46.844000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:55.817000-05:00,2019-12-18 07:09:19.200000-05:00,32
1,1,lawrence_east,kennedy,2019-12-18 07:04:55.817000-05:00,2019-12-18 07:09:19.200000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:52.901000-05:00,2019-12-18 07:09:20.023000-05:00,0
2,2,lawrence_east,kennedy,2019-12-18 07:04:52.901000-05:00,2019-12-18 07:09:20.023000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:40.169000-05:00,2019-12-18 07:09:34.800000-05:00,14
3,3,lawrence_east,kennedy,2019-12-18 07:04:40.169000-05:00,2019-12-18 07:09:34.800000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:59.016000-05:00,2019-12-18 07:10:01.194000-05:00,26
4,4,lawrence_east,kennedy,2019-12-18 07:04:59.016000-05:00,2019-12-18 07:10:01.194000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:01:48.788000-05:00,2019-12-18 07:10:25.793000-05:00,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,278,lawrence_east,kennedy,2019-12-18 11:40:32.883000-05:00,2019-12-18 11:45:14.793000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:41:08.897000-05:00,2019-12-18 11:45:30.449000-05:00,15
279,279,lawrence_east,kennedy,2019-12-18 11:41:08.897000-05:00,2019-12-18 11:45:30.449000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:40:36.595000-05:00,2019-12-18 11:46:24.191000-05:00,53
280,280,lawrence_east,kennedy,2019-12-18 11:40:36.595000-05:00,2019-12-18 11:46:24.191000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:48:25.424000-05:00,2019-12-18 11:55:39.248000-05:00,555
281,281,lawrence_east,kennedy,2019-12-18 11:48:25.424000-05:00,2019-12-18 11:55:39.248000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:48:08.890000-05:00,2019-12-18 11:55:46.575000-05:00,7
282,282,lawrence_east,kennedy,2019-12-18 11:48:08.890000-05:00,2019-12-18 11:55:46.575000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:51:26.984000-05:00,2019-12-18 11:57:43.213000-05:00,116

In [71]:
test['train_id'] = (test['gap'] > 90).cumsum()

In [72]:
test

,index,station1,station2,platform1_end_time_left,platform2_start_time_left,year,month,day,hour,date,dow,period,platform1_end_time_right,platform2_start_time_right,gap,train_id
0,0,lawrence_east,kennedy,2019-12-18 07:05:09.172000-05:00,2019-12-18 07:08:46.844000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:55.817000-05:00,2019-12-18 07:09:19.200000-05:00,32,0
1,1,lawrence_east,kennedy,2019-12-18 07:04:55.817000-05:00,2019-12-18 07:09:19.200000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:52.901000-05:00,2019-12-18 07:09:20.023000-05:00,0,0
2,2,lawrence_east,kennedy,2019-12-18 07:04:52.901000-05:00,2019-12-18 07:09:20.023000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:40.169000-05:00,2019-12-18 07:09:34.800000-05:00,14,0
3,3,lawrence_east,kennedy,2019-12-18 07:04:40.169000-05:00,2019-12-18 07:09:34.800000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:04:59.016000-05:00,2019-12-18 07:10:01.194000-05:00,26,0
4,4,lawrence_east,kennedy,2019-12-18 07:04:59.016000-05:00,2019-12-18 07:10:01.194000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:01:48.788000-05:00,2019-12-18 07:10:25.793000-05:00,24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,278,lawrence_east,kennedy,2019-12-18 11:40:32.883000-05:00,2019-12-18 11:45:14.793000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:41:08.897000-05:00,2019-12-18 11:45:30.449000-05:00,15,48
279,279,lawrence_east,kennedy,2019-12-18 11:41:08.897000-05:00,2019-12-18 11:45:30.449000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:40:36.595000-05:00,2019-12-18 11:46:24.191000-05:00,53,48
280,280,lawrence_east,kennedy,2019-12-18 11:40:36.595000-05:00,2019-12-18 11:46:24.191000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:48:25.424000-05:00,2019-12-18 11:55:39.248000-05:00,555,49
281,281,lawrence_east,kennedy,2019-12-18 11:48:25.424000-05:00,2019-12-18 11:55:39.248000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:48:08.890000-05:00,2019-12-18 11:55:46.575000-05:00,7,49
282,282,lawrence_east,kennedy,2019-12-18 11:48:08.890000-05:00,2019-12-18 11:55:46.575000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:51:26.984000-05:00,2019-12-18 11:57:43.213000-05:00,116,50

In [73]:
train_times = []

for train_id in list(test['train_id'].drop_duplicates()):
    station1 = 'lawrence_east'
    station2 = 'kennedy'
    depart_time = test[test['train_id'] == train_id]['platform1_end_time_left'].median()
    arrival_time = test[test['train_id'] == train_id]['platform2_start_time_left'].median()
    
    train_times.append([station1, station2, depart_time, arrival_time])

In [74]:
pd.DataFrame.from_records(train_times, columns = ['station1', 'station2', 'depart_time', 'arrival_time'])

,station1,station2,depart_time,arrival_time
0,lawrence_east,kennedy,2019-12-18 07:04:52.900999936-05:00,2019-12-18 07:09:34.800000-05:00
1,lawrence_east,kennedy,2019-12-18 07:07:44.790000128-05:00,2019-12-18 07:13:29.266999808-05:00
2,lawrence_east,kennedy,2019-12-18 07:13:38.119500032-05:00,2019-12-18 07:19:22.407500032-05:00
3,lawrence_east,kennedy,2019-12-18 07:19:54.995500032-05:00,2019-12-18 07:27:20.502000128-05:00
4,lawrence_east,kennedy,2019-12-18 07:26:03.402500096-05:00,2019-12-18 07:33:03.865500160-05:00
5,lawrence_east,kennedy,2019-12-18 07:33:28.142499840-05:00,2019-12-18 07:38:06.168999936-05:00
6,lawrence_east,kennedy,2019-12-18 07:39:03.388499968-05:00,2019-12-18 07:43:48.906500096-05:00
7,lawrence_east,kennedy,2019-12-18 07:43:13.684000-05:00,2019-12-18 07:48:10.324000-05:00
8,lawrence_east,kennedy,2019-12-18 07:48:50.758000128-05:00,2019-12-18 07:53:23.648000-05:00
9,lawrence_east,kennedy,2019-12-18 07:53:32.816999936-05:00,2019-12-18 07:58:33.294000128-05:00
10,lawrence_east,kennedy,2019-12-18 07:53:59.248999936-05:00,2019-12-18 07:59:27.100999936-05:00
11,lawrence_east,kennedy,2019-12-18 08:12:29.819000064-05:00,2019-12-18 08:19:24.716000-05:00
12,lawrence_east,kennedy,2019-12-18 08:18:20.205000192-05:00,2019-12-18 08:25:37.725499904-05:00
13,lawrence_east,kennedy,2019-12-18 08:27:47.298500096-05:00,2019-12-18 08:32:37.433499904-05:00
14,lawrence_east,kennedy,2019-12-18 08:34:01.921999872-05:00,2019-12-18 08:39:06.512999936-05:00
15,lawrence_east,kennedy,2019-12-18 08:39:28.272499968-05:00,2019-12-18 08:44:01.887000064-05:00
16,lawrence_east,kennedy,2019-12-18 08:45:50.080000-05:00,2019-12-18 08:50:47.647000064-05:00
17,lawrence_east,kennedy,2019-12-18 08:45:34.904999936-05:00,2019-12-18 08:51:06.328000-05:00
18,lawrence_east,kennedy,2019-12-18 08:50:01.057500160-05:00,2019-12-18 08:54:59.348499968-05:00
19,lawrence_east,kennedy,2019-12-18 08:56:44.667500032-05:00,2019-12-18 09:01:32.274999808-05:00
20,lawrence_east,kennedy,2019-12-18 09:00:05.596999936-05:00,2019-12-18 09:04:50.700000-05:00
21,lawrence_east,kennedy,2019-12-18 08:59:53.646000128-05:00,2019-12-18 09:05:57.352000-05:00
22,lawrence_east,kennedy,2019-12-18 09:11:15.252999936-05:00,2019-12-18 09:16:32.438000128-05:00
23,lawrence_east,kennedy,2019-12-18 09:16:26.273999872-05:00,2019-12-18 09:22:47.380000-05:00
24,lawrence_east,kennedy,2019-12-18 09:24:04.516499968-05:00,2019-12-18 09:28:48.136499968-05:00
25,lawrence_east,kennedy,2019-12-18 09:31:07.768499968-05:00,2019-12-18 09:36:01.359000064-05:00
26,lawrence_east,kennedy,2019-12-18 09:43:20.308999936-05:00,2019-12-18 09:47:56.536999936-05:00
27,lawrence_east,kennedy,2019-12-18 09:45:12.448499968-05:00,2019-12-18 09:50:05.906000128-05:00
28,lawrence_east,kennedy,2019-12-18 09:45:49.664000-05:00,2019-12-18 09:53:46.079000064-05:00
29,lawrence_east,kennedy,2019-12-18 09:49:30.796999936-05:00,2019-12-18 09:53:51.951000064-05:00
30,lawrence_east,kennedy,2019-12-18 09:52:45.771000064-05:00,2019-12-18 09:57:48.564999936-05:00
31,lawrence_east,kennedy,2019-12-18 09:52:35.145999872-05:00,2019-12-18 09:59:27.928999936-05:00
32,lawrence_east,kennedy,2019-12-18 09:57:45.883000064-05:00,2019-12-18 10:02:45.072000-05:00
33,lawrence_east,kennedy,2019-12-18 10:06:03.495000064-05:00,2019-12-18 10:13:21.598000128-05:00
34,lawrence_east,kennedy,2019-12-18 10:14:08.235000064-05:00,2019-12-18 10:18:14.268999936-05:00
35,lawrence_east,kennedy,2019-12-18 10:13:38.422000128-05:00,2019-12-18 10:18:43.129999872-05:00
36,lawrence_east,kennedy,2019-12-18 10:17:21.124999936-05:00,2019-12-18 10:24:58.644999936-05:00
37,lawrence_east,kennedy,2019-12-18 10:31:46.696499968-05:00,2019-12-18 10:40:15.601500160-05:00
38,lawrence_east,kennedy,2019-12-18 10:30:35.359000064-05:00,2019-12-18 10:40:39.836000-05:00
39,lawrence_east,kennedy,2019-12-18 10:32:30.422000128-05:00,2019-12-18 10:42:55.465999872-05:00
40,lawrence_east,kennedy,2019-12-18 10:45:57.563500032-05:00,2019-12-18 10:54:00.573000192-05:00
41,lawrence_east,kennedy,2019-12-18 10:48:54.532999936-05:00,2019-12-18 10:54:23.599000064-05:00
42,lawrence_east,kennedy,2019-12-18 10:49:36.536999936-05:00,2019-12-18 10:56:14.704999936-05:00
43,lawrence_east,kennedy,2019-12-18 10:56:11.085499904-05:00,2019-12-18 11:07:25.972000-05:00
44,lawrence_east,kennedy,2019-12-18 11:08:23.049500160-05:00,2019-12-18 11:14:36.464499968-05:00
45,lawrence_east,kennedy,2019-12-18 11:15:10.817999872-05:00,2019-12-18 11:21:03.712999936-05:00
46,lawrence_east,kennedy,2019-12-18 11:26:05.844499968-05:00,2019-12-18 11:35:48.721500160-05:00
47,lawrence_east,kennedy,2019-12-18 11:36:11.955000064-05:00,2019-12-18 11:41:04.783000064-05:00
48,lawrence_east,kennedy,2019-12-18 11:40:49.489999872-05:00,2019-12-18 11:44:56.048000-05:00
49,lawrence_east,kennedy,2019-12-18 11:44:31.009500160-05:00,2019-12-18 11:51:01.719500032-05:00
50,lawrence_east,kennedy,2019-12-18 11:48:08.889999872-05:00,2019-12-18 11:55:46.575000064-05:00

In [79]:
test[test['gap']> 450]

,index,station1,station2,platform1_end_time_left,platform2_start_time_left,year,month,day,hour,date,dow,period,platform1_end_time_right,platform2_start_time_right,gap,train_id
78,78,lawrence_east,kennedy,2019-12-18 07:53:59.249000-05:00,2019-12-18 07:59:27.101000-05:00,2019,12,18,7,2019-12-18,2,AM,2019-12-18 07:59:07.117000-05:00,2019-12-18 08:13:38.560000-05:00,851,10
211,211,lawrence_east,kennedy,2019-12-18 09:34:59.681000-05:00,2019-12-18 09:39:29.913000-05:00,2019,12,18,9,2019-12-18,2,AM,2019-12-18 09:38:23.376000-05:00,2019-12-18 09:47:28.773000-05:00,478,26
229,229,lawrence_east,kennedy,2019-12-18 09:56:19.122000-05:00,2019-12-18 10:04:54.371000-05:00,2019,12,18,9,2019-12-18,2,AM,2019-12-18 10:08:17.134000-05:00,2019-12-18 10:13:14.480000-05:00,500,33
241,241,lawrence_east,kennedy,2019-12-18 10:25:53.919000-05:00,2019-12-18 10:30:28.298000-05:00,2019,12,18,10,2019-12-18,2,AM,2019-12-18 10:31:43.215000-05:00,2019-12-18 10:39:59.775000-05:00,571,37
253,253,lawrence_east,kennedy,2019-12-18 10:49:44.161000-05:00,2019-12-18 10:57:51.280000-05:00,2019,12,18,10,2019-12-18,2,AM,2019-12-18 10:57:32.335000-05:00,2019-12-18 11:07:17.742000-05:00,566,43
257,257,lawrence_east,kennedy,2019-12-18 11:01:15.731000-05:00,2019-12-18 11:08:34.869000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:15:30.368000-05:00,2019-12-18 11:20:38.060000-05:00,723,44
260,260,lawrence_east,kennedy,2019-12-18 11:18:51.840000-05:00,2019-12-18 11:23:56.304000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:26:13.139000-05:00,2019-12-18 11:35:27.137000-05:00,690,46
280,280,lawrence_east,kennedy,2019-12-18 11:40:36.595000-05:00,2019-12-18 11:46:24.191000-05:00,2019,12,18,11,2019-12-18,2,AM,2019-12-18 11:48:25.424000-05:00,2019-12-18 11:55:39.248000-05:00,555,49