In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import os

plt.rcParams['figure.dpi'] = 300

In [2]:
tts = pd.read_csv('D:/RST/notebook/TTS OD/TTS_TYPE.csv')
tts['origin'] = tts['origin'] + 1000
tts['destination'] = tts['destination'] + 1000

In [3]:
tts['group'] = tts['type'].str.split('_', expand = True)[0]
tts['period'] = tts['type'].str.split('_', expand = True)[1].str.upper()

In [4]:
total = tts.groupby(['type', 'period', 'group']).sum()[['total']].reset_index()
total = total.rename(columns = {'total':'trip_total'})
tts = tts.merge(total)

In [5]:
tts

        origin  destination    type      total group period     trip_total
0         1001         1018  raw_am  15.000000   raw     AM  211847.000000
1         1001         1035  raw_am  14.000000   raw     AM  211847.000000
2         1001         1057  raw_am  20.000000   raw     AM  211847.000000
3         1001         1068  raw_am  14.000000   raw     AM  211847.000000
4         1001         1212  raw_am   8.000000   raw     AM  211847.000000
...        ...          ...     ...        ...   ...    ...            ...
125063    1606         1068  imm_em   0.657501   imm     EM     362.056815
125064    1606         1415  imm_em   1.266022   imm     EM     362.056815
125065    1619         1056  imm_em   1.253828   imm     EM     362.056815
125066    1620         1220  imm_em   1.424503   imm     EM     362.056815
125067    1621         1063  imm_em   2.730444   imm     EM     362.056815

[125068 rows x 7 columns]

In [6]:
group_list = list(tts['group'].drop_duplicates())
group_list

['raw', 'lico', 'c0', 'lep', 'rac', 'ab', 'bl', 'imm']

In [7]:
group_list = ['raw', 'lico', 'c0', 'lep', 'rac', 'bl', 'imm']

In [8]:
def combiner(period):
    df_list = []

    for file in os.listdir(period):
        if file.split('.')[1] == 'txt':
            continue
        if file.split('-')[3] == 'mode':
            continue
        df = pd.read_csv(period + '/' + file)
        df['period'] = period
        df_list.append(df)

        df_test = pd.concat(df_list)
    
    df_test = df_test.merge(tts)
    
    ge_df_list1 = []
    ge_df_list = []
    for group in group_list:

        df_iterate = df_test

        df_iterate = df_iterate[df_iterate['group'] == group]
        df_iterate = df_iterate[df_iterate['period'] == period]

        df_iterate['ge_single'] = df_iterate['total']/(df_iterate['travel_time'] * df_iterate['trip_total'])

        df_avg = df_iterate.groupby(['iteration', 'origin', 'destination']).mean()[['ge_single']].reset_index()
#         df_iterate = df_iterate.groupby('iteration').sum()[['ge_single']].reset_index()
#         df_iterate['period'] = period
#         df_iterate['group'] = group

        df_avg['period'] = period
        df_avg['group'] = group

#         ge_df_list1.append(df_iterate)
        ge_df_list.append(df_avg)

        print(period, group)

#     ge_df1 = pd.concat(ge_df_list1)
    ge_df = pd.concat(ge_df_list)
    ge_df = ge_df.groupby(['iteration', 'period', 'group']).sum()[['ge_single']].reset_index()
    return ge_df

In [9]:
for period in ['AM','EV', 'EM', 'PM', 'MD']:
    ge_df = combiner(period)
    
    ge_df.to_csv('GE Combined/ge-combined_' + period + '.csv', index = False)

AM raw
AM lico
AM c0
AM lep
AM rac
AM bl
AM imm
EV raw
EV lico
EV c0
EV lep
EV rac
EV bl
EV imm
EM raw
EM lico
EM c0
EM lep
EM rac
EM bl
EM imm
PM raw
PM lico
PM c0
PM lep
PM rac
PM bl
PM imm
MD raw
MD lico
MD c0
MD lep
MD rac
MD bl
MD imm