In [113]:
import pandas as pd
import numpy as np

In [114]:
raw = pd.read_csv('cleaned_wifi/raw_wifi_2019-11-28_AM.csv')
#raw = raw.drop(columns = ['platform1_start_time', 'platform2_end_time', 'station1_end_time', 'station2_start_time'])

In [122]:
raw[raw['station2'] == 'warden']

,station1,direction,station1_end_time,platform1_start_time,platform1_end_time,station2,station2_start_time,platform2_start_time,platform2_end_time,year,month,day,hour,date,dow,period
3784,kennedy,kipling,2019-11-28 15:30:06.413,2019-11-28 10:26:56.592000-05:00,2019-11-28 10:30:06.413000-05:00,warden,2019-11-28 15:33:29.891,NaN,NaN,2019,11,28,10,2019-11-28,3,AM
9831,victoria_park,kennedy,2019-11-28 15:46:44.237,2019-11-28 10:45:40.102000-05:00,2019-11-28 10:46:44.237000-05:00,warden,2019-11-28 15:52:20.774,NaN,NaN,2019,11,28,10,2019-11-28,3,AM
10214,victoria_park,kennedy,2019-11-28 15:22:37.819,2019-11-28 10:22:37.819000-05:00,2019-11-28 10:22:37.819000-05:00,warden,2019-11-28 15:27:19.070,NaN,NaN,2019,11,28,10,2019-11-28,3,AM
15559,kennedy,kipling,2019-11-28 15:36:24.849,2019-11-28 10:36:07.193000-05:00,2019-11-28 10:36:24.849000-05:00,warden,2019-11-28 15:41:26.532,NaN,NaN,2019,11,28,10,2019-11-28,3,AM
22261,victoria_park,kennedy,2019-11-28 15:22:19.961,2019-11-28 10:22:19.961000-05:00,2019-11-28 10:22:19.961000-05:00,warden,2019-11-28 15:26:20.781,NaN,NaN,2019,11,28,10,2019-11-28,3,AM
24446,kennedy,kipling,2019-11-28 15:30:08.900,2019-11-28 10:28:29.041000-05:00,2019-11-28 10:30:08.900000-05:00,warden,2019-11-28 15:33:57.511,NaN,NaN,2019,11,28,10,2019-11-28,3,AM
26033,kennedy,kipling,2019-11-28 14:16:33.121,2019-11-28 09:16:33.121000-05:00,2019-11-28 09:16:33.121000-05:00,warden,2019-11-28 14:22:44.274,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
27018,kennedy,kipling,2019-11-28 14:30:26.656,2019-11-28 09:27:59.028000-05:00,2019-11-28 09:30:26.656000-05:00,warden,2019-11-28 14:34:21.079,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
27570,kennedy,kipling,2019-11-28 14:48:03.122,2019-11-28 09:47:25.790000-05:00,2019-11-28 09:48:03.122000-05:00,warden,2019-11-28 14:52:02.837,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
31075,victoria_park,kennedy,2019-11-28 14:52:51.048,2019-11-28 09:52:51.048000-05:00,2019-11-28 09:52:51.048000-05:00,warden,2019-11-28 14:58:32.662,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
32147,kennedy,kipling,2019-11-28 14:16:17.395,2019-11-28 09:16:17.395000-05:00,2019-11-28 09:16:17.395000-05:00,warden,2019-11-28 14:20:46.498,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
34837,kennedy,kipling,2019-11-28 14:16:42.379,2019-11-28 09:16:18.030000-05:00,2019-11-28 09:16:42.379000-05:00,warden,2019-11-28 14:20:33.168,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
40208,victoria_park,kennedy,2019-11-28 14:04:07.249,2019-11-28 09:04:07.249000-05:00,2019-11-28 09:04:07.249000-05:00,warden,2019-11-28 14:07:03.369,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
42534,victoria_park,kennedy,2019-11-28 14:50:19.529,2019-11-28 09:45:03.189000-05:00,2019-11-28 09:45:03.189000-05:00,warden,2019-11-28 14:57:43.352,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
48097,kennedy,kipling,2019-11-28 14:53:10.334,2019-11-28 09:50:07.864000-05:00,2019-11-28 09:53:10.334000-05:00,warden,2019-11-28 15:01:03.421,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
48533,victoria_park,kennedy,2019-11-28 14:21:02.195,2019-11-28 09:21:02.195000-05:00,2019-11-28 09:21:02.195000-05:00,warden,2019-11-28 14:25:39.513,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
49142,kennedy,kipling,2019-11-28 14:20:24.766,2019-11-28 09:16:38.232000-05:00,2019-11-28 09:20:24.766000-05:00,warden,2019-11-28 14:23:41.887,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
50464,kennedy,kipling,2019-11-28 14:32:36.360,2019-11-28 09:32:05.825000-05:00,2019-11-28 09:32:36.360000-05:00,warden,2019-11-28 14:36:54.839,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
53410,kennedy,kipling,2019-11-28 15:14:27.588,2019-11-28 10:12:04.497000-05:00,2019-11-28 10:14:27.588000-05:00,warden,2019-11-28 15:19:48.467,NaN,NaN,2019,11,28,10,2019-11-28,3,AM
56949,kennedy,kipling,2019-11-28 14:55:26.424,2019-11-28 09:49:33.288000-05:00,2019-11-28 09:55:26.424000-05:00,warden,2019-11-28 14:59:37.687,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
59789,victoria_park,kennedy,2019-11-28 14:58:03.155,2019-11-28 09:58:03.155000-05:00,2019-11-28 09:58:03.155000-05:00,warden,2019-11-28 15:01:49.331,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
64851,kennedy,kipling,2019-11-28 16:53:58.443,2019-11-28 11:53:58.443000-05:00,2019-11-28 11:53:58.443000-05:00,warden,2019-11-28 17:03:41.549,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
65267,victoria_park,kennedy,2019-11-28 16:16:12.630,2019-11-28 11:16:12.630000-05:00,2019-11-28 11:16:12.630000-05:00,warden,2019-11-28 16:19:20.970,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
65444,kennedy,kipling,2019-11-28 16:47:07.912,2019-11-28 11:44:51.776000-05:00,2019-11-28 11:47:07.912000-05:00,warden,2019-11-28 16:56:04.260,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
66077,kennedy,kipling,2019-11-28 16:28:45.272,2019-11-28 11:26:59.639000-05:00,2019-11-28 11:28:45.272000-05:00,warden,2019-11-28 16:32:05.905,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
69335,victoria_park,kennedy,2019-11-28 16:32:46.765,2019-11-28 11:28:21.822000-05:00,2019-11-28 11:32:46.765000-05:00,warden,2019-11-28 16:36:03.987,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
72477,victoria_park,kennedy,2019-11-28 13:05:21.729,2019-11-28 08:05:21.729000-05:00,2019-11-28 08:05:21.729000-05:00,warden,2019-11-28 13:09:42.945,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
75173,victoria_park,kennedy,2019-11-28 13:08:49.132,2019-11-28 08:08:49.132000-05:00,2019-11-28 08:08:49.132000-05:00,warden,2019-11-28 13:12:42.841,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
77190,victoria_park,kennedy,2019-11-28 13:21:59.430,2019-11-28 08:21:59.430000-05:00,2019-11-28 08:21:59.430000-05:00,warden,2019-11-28 13:26:41.568,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
90823,kennedy,kipling,2019-11-28 16:11:30.276,2019-11-28 11:10:08.565000-05:00,2019-11-28 11:11:30.276000-05:00,warden,2019-11-28 16:15:45.797,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
91412,kennedy,kipling,2019-11-28 16:59:58.486,2019-11-28 11:59:58.486000-05:00,2019-11-28 11:59:58.486000-05:00,warden,2019-11-28 17:05:32.467,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
95297,kennedy,kipling,2019-11-28 16:37:13.130,2019-11-28 11:37:13.130000-05:00,2019-11-28 11:37:13.130000-05:00,warden,2019-11-28 16:41:32.695,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
95320,kennedy,kipling,2019-11-28 16:37:04.393,2019-11-28 11:37:04.393000-05:00,2019-11-28 11:37:04.393000-05:00,warden,2019-11-28 16:41:40.908,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
95531,victoria_park,kennedy,2019-11-28 16:21:32.515,2019-11-28 11:21:32.515000-05:00,2019-11-28 11:21:32.515000-05:00,warden,2019-11-28 16:24:43.971,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
97197,victoria_park,kennedy,2019-11-28 16:51:48.814,2019-11-28 11:51:48.814000-05:00,2019-11-28 11:51:48.814000-05:00,warden,2019-11-28 16:57:52.437,NaN,NaN,2019,11,28,11,2019-11-28,3,AM
97890,kennedy,kipling,2019-11-28 12:50:38.928,2019-11-28 07:50:28.214000-05:00,2019-11-28 07:50:38.928000-05:00,warden,2019-11-28 12:54:02.289,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
102157,kennedy,kipling,2019-11-28 13:14:56.338,2019-11-28 08:14:56.338000-05:00,2019-11-28 08:14:56.338000-05:00,warden,2019-11-28 13:20:45.743,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
105009,kennedy,kipling,2019-11-28 13:35:59.163,2019-11-28 08:33:58.432000-05:00,2019-11-28 08:35:59.163000-05:00,warden,2019-11-28 13:39:34.911,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
105226,victoria_park,kennedy,2019-11-28 13:20:45.432,2019-11-28 08:20:45.432000-05:00,2019-11-28 08:20:45.432000-05:00,warden,2019-11-28 13:23:48.400,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
109523,victoria_park,kennedy,2019-11-28 13:31:49.173,2019-11-28 08:31:49.173000-05:00,2019-11-28 08:31:49.173000-05:00,warden,2019-11-28 13:34:55.521,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
110159,victoria_park,kennedy,2019-11-28 13:41:10.087,2019-11-28 08:41:10.087000-05:00,2019-11-28 08:41:10.087000-05:00,warden,2019-11-28 13:44:19.417,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
120722,victoria_park,kennedy,2019-11-28 13:48:08.684,2019-11-28 08:48:08.684000-05:00,2019-11-28 08:48:08.684000-05:00,warden,2019-11-28 13:51:38.226,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
121181,victoria_park,kennedy,2019-11-28 13:32:36.788,2019-11-28 08:32:36.784000-05:00,2019-11-28 08:32:36.788000-05:00,warden,2019-11-28 13:36:49.641,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
124539,kennedy,kipling,2019-11-28 13:24:32.953,2019-11-28 08:24:25.473000-05:00,2019-11-28 08:24:32.953000-05:00,warden,2019-11-28 13:30:17.847,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
126911,victoria_park,kennedy,2019-11-28 13:44:50.247,2019-11-28 08:44:50.247000-05:00,2019-11-28 08:44:50.247000-05:00,warden,2019-11-28 13:48:33.973,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
128824,kennedy,kipling,2019-11-28 14:03:10.078,2019-11-28 09:00:36.607000-05:00,2019-11-28 09:03:10.078000-05:00,warden,2019-11-28 14:13:43.918,NaN,NaN,2019,11,28,9,2019-11-28,3,AM
130113,kennedy,kipling,2019-11-28 13:03:45.777,2019-11-28 08:03:45.777000-05:00,2019-11-28 08:03:45.777000-05:00,warden,2019-11-28 13:09:11.790,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
139892,victoria_park,kennedy,2019-11-28 12:44:04.440,2019-11-28 07:44:04.440000-05:00,2019-11-28 07:44:04.440000-05:00,warden,2019-11-28 12:47:55.374,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
139920,kennedy,kipling,2019-11-28 12:09:07.085,2019-11-28 07:08:51.837000-05:00,2019-11-28 07:09:07.085000-05:00,warden,2019-11-28 12:13:05.640,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
140922,kennedy,kipling,2019-11-28 12:47:08.969,2019-11-28 07:47:08.969000-05:00,2019-11-28 07:47:08.969000-05:00,warden,2019-11-28 12:52:25.657,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
143722,kennedy,kipling,2019-11-28 12:48:43.586,2019-11-28 07:48:34.281000-05:00,2019-11-28 07:48:43.586000-05:00,warden,2019-11-28 12:54:24.824,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
144870,victoria_park,kennedy,2019-11-28 12:38:11.688,2019-11-28 07:38:11.688000-05:00,2019-11-28 07:38:11.688000-05:00,warden,2019-11-28 12:41:21.621,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
145386,victoria_park,kennedy,2019-11-28 12:49:04.420,2019-11-28 07:49:04.420000-05:00,2019-11-28 07:49:04.420000-05:00,warden,2019-11-28 12:54:19.639,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
155872,victoria_park,kennedy,2019-11-28 12:39:47.772,2019-11-28 07:39:47.772000-05:00,2019-11-28 07:39:47.772000-05:00,warden,2019-11-28 12:42:55.236,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
156054,kennedy,kipling,2019-11-28 13:00:28.553,2019-11-28 08:00:16.491000-05:00,2019-11-28 08:00:28.553000-05:00,warden,2019-11-28 13:04:19.851,NaN,NaN,2019,11,28,8,2019-11-28,3,AM
158749,kennedy,kipling,2019-11-28 13:00:41.443,2019-11-28 07:59:23.016000-05:00,2019-11-28 08:00:41.443000-05:00,warden,2019-11-28 13:04:15.404,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
159467,victoria_park,kennedy,2019-11-28 12:39:39.309,2019-11-28 07:39:39.309000-05:00,2019-11-28 07:39:39.309000-05:00,warden,2019-11-28 12:43:19.488,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
162640,victoria_park,kennedy,2019-11-28 12:51:59.279,2019-11-28 07:51:59.279000-05:00,2019-11-28 07:51:59.279000-05:00,warden,2019-11-28 12:56:20.955,NaN,NaN,2019,11,28,7,2019-11-28,3,AM
164498,victoria_park,kennedy,2019-11-28 12:47:18.979,2019-11-28 07:47:18.979000-05:00,2019-11-28 07:47:18.979000-05:00,warden,2019-11-28 12:51:44.972,NaN,NaN,2019,11,28,7,2019-11-28,3,AM

In [92]:
raw[['station1', 'station2']].drop_duplicates()

            station1       station2
0            kennedy  lawrence_east
1          ossington       dufferin
2               jane      runnymede
3          runnymede      high-park
4      lawrence_east        kennedy
...              ...            ...
3784         kennedy         warden
4978     stclairwest  eglinton_west
5249      summerhill       rosedale
9831   victoria_park         warden
38579  lawrence_east      ellesmere

[145 rows x 2 columns]

In [5]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164828 entries, 0 to 164827
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   station1              164828 non-null  object
 1   direction             164828 non-null  object
 2   platform1_end_time    164828 non-null  object
 3   station2              164828 non-null  object
 4   platform2_start_time  156610 non-null  object
 5   year                  164828 non-null  int64
 6   month                 164828 non-null  int64
 7   day                   164828 non-null  int64
 8   hour                  164828 non-null  int64
 9   date                  164828 non-null  object
 10  dow                   164828 non-null  int64
 11  period                164828 non-null  object
dtypes: int64(5), object(7)
memory usage: 15.1+ MB

In [6]:
raw['platform1_end_time'] = pd.DatetimeIndex(raw['platform1_end_time'], tz = 'America/Toronto')
raw['platform2_start_time'] = pd.DatetimeIndex(raw['platform2_start_time'], tz = 'America/Toronto')
raw = raw.sort_values(by = 'platform1_end_time')

In [7]:
raw = raw[~raw['platform2_start_time'].isna()]

# For One Station Pair

In [25]:
test_left = raw[(raw['station1'] == 'ossington') & (raw['station2'] == 'dufferin')].copy()

In [26]:
test_left = test_left.reset_index(drop = True).reset_index()
test_right = test_left.copy()
test_right['index'] = test_right['index'] - 1

test_left

,index,station1,direction,platform1_end_time,station2,platform2_start_time,year,month,day,hour,date,dow,period
0,0,ossington,kipling,2019-11-28 07:00:59.720000-05:00,dufferin,2019-11-28 07:03:32.535000-05:00,2019,11,28,7,2019-11-28,3,AM
1,1,ossington,kipling,2019-11-28 07:01:37.306000-05:00,dufferin,2019-11-28 07:02:51.782000-05:00,2019,11,28,7,2019-11-28,3,AM
2,2,ossington,kipling,2019-11-28 07:01:44.260000-05:00,dufferin,2019-11-28 07:03:08.856000-05:00,2019,11,28,7,2019-11-28,3,AM
3,3,ossington,kipling,2019-11-28 07:01:54.542000-05:00,dufferin,2019-11-28 07:03:26.664000-05:00,2019,11,28,7,2019-11-28,3,AM
4,4,ossington,kipling,2019-11-28 07:01:56.203000-05:00,dufferin,2019-11-28 07:03:20.275000-05:00,2019,11,28,7,2019-11-28,3,AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034,1034,ossington,kipling,2019-11-28 11:59:44.699000-05:00,dufferin,2019-11-28 12:00:42.630000-05:00,2019,11,28,11,2019-11-28,3,AM
1035,1035,ossington,kipling,2019-11-28 11:59:47.296000-05:00,dufferin,2019-11-28 12:00:40.887000-05:00,2019,11,28,11,2019-11-28,3,AM
1036,1036,ossington,kipling,2019-11-28 11:59:48.187000-05:00,dufferin,2019-11-28 12:00:51.851000-05:00,2019,11,28,11,2019-11-28,3,AM
1037,1037,ossington,kipling,2019-11-28 11:59:49.056000-05:00,dufferin,2019-11-28 12:00:43.406000-05:00,2019,11,28,11,2019-11-28,3,AM
1038,1038,ossington,kipling,2019-11-28 11:59:50.535000-05:00,dufferin,2019-11-28 12:01:17.458000-05:00,2019,11,28,11,2019-11-28,3,AM

In [27]:
test = test_left.merge(test_right[['index', 'platform1_end_time', 'platform2_start_time']], left_on = ['index'], right_on = ['index'], suffixes = ['_left', '_right'])

In [28]:
test['gap'] = (test['platform1_end_time_right'] - test['platform1_end_time_left']).dt.seconds
test

,index,station1,direction,platform1_end_time_left,station2,platform2_start_time_left,year,month,day,hour,date,dow,period,platform1_end_time_right,platform2_start_time_right,gap
0,0,ossington,kipling,2019-11-28 07:00:59.720000-05:00,dufferin,2019-11-28 07:03:32.535000-05:00,2019,11,28,7,2019-11-28,3,AM,2019-11-28 07:01:37.306000-05:00,2019-11-28 07:02:51.782000-05:00,37
1,1,ossington,kipling,2019-11-28 07:01:37.306000-05:00,dufferin,2019-11-28 07:02:51.782000-05:00,2019,11,28,7,2019-11-28,3,AM,2019-11-28 07:01:44.260000-05:00,2019-11-28 07:03:08.856000-05:00,6
2,2,ossington,kipling,2019-11-28 07:01:44.260000-05:00,dufferin,2019-11-28 07:03:08.856000-05:00,2019,11,28,7,2019-11-28,3,AM,2019-11-28 07:01:54.542000-05:00,2019-11-28 07:03:26.664000-05:00,10
3,3,ossington,kipling,2019-11-28 07:01:54.542000-05:00,dufferin,2019-11-28 07:03:26.664000-05:00,2019,11,28,7,2019-11-28,3,AM,2019-11-28 07:01:56.203000-05:00,2019-11-28 07:03:20.275000-05:00,1
4,4,ossington,kipling,2019-11-28 07:01:56.203000-05:00,dufferin,2019-11-28 07:03:20.275000-05:00,2019,11,28,7,2019-11-28,3,AM,2019-11-28 07:02:06.680000-05:00,2019-11-28 07:03:26.085000-05:00,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,1033,ossington,kipling,2019-11-28 11:59:44.483000-05:00,dufferin,2019-11-28 12:00:40.089000-05:00,2019,11,28,11,2019-11-28,3,AM,2019-11-28 11:59:44.699000-05:00,2019-11-28 12:00:42.630000-05:00,0
1034,1034,ossington,kipling,2019-11-28 11:59:44.699000-05:00,dufferin,2019-11-28 12:00:42.630000-05:00,2019,11,28,11,2019-11-28,3,AM,2019-11-28 11:59:47.296000-05:00,2019-11-28 12:00:40.887000-05:00,2
1035,1035,ossington,kipling,2019-11-28 11:59:47.296000-05:00,dufferin,2019-11-28 12:00:40.887000-05:00,2019,11,28,11,2019-11-28,3,AM,2019-11-28 11:59:48.187000-05:00,2019-11-28 12:00:51.851000-05:00,0
1036,1036,ossington,kipling,2019-11-28 11:59:48.187000-05:00,dufferin,2019-11-28 12:00:51.851000-05:00,2019,11,28,11,2019-11-28,3,AM,2019-11-28 11:59:49.056000-05:00,2019-11-28 12:00:43.406000-05:00,0
1037,1037,ossington,kipling,2019-11-28 11:59:49.056000-05:00,dufferin,2019-11-28 12:00:43.406000-05:00,2019,11,28,11,2019-11-28,3,AM,2019-11-28 11:59:50.535000-05:00,2019-11-28 12:01:17.458000-05:00,1

In [29]:
test['arrival_gap'] = ((test['platform2_start_time_right'].astype(int) / 10**9) - (test['platform2_start_time_left'].astype(int) / 10**9)).astype(int)

/var/folders/zw/x46df3ms6r5391lyb_y98z600000gn/T/ipykernel_3004/1595443690.py:1: FutureWarning: casting datetime64[ns, America/Toronto] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  test['arrival_gap'] = ((test['platform2_start_time_right'].astype(int) / 10**9) - (test['platform2_start_time_left'].astype(int) / 10**9)).astype(int)

In [30]:
test = test[test['arrival_gap'] > -30]

In [31]:
test = test.drop(columns = ['platform1_end_time_right', 'platform2_start_time_right', 'index', 'gap', 'arrival_gap'])
test = test.rename(columns = {'platform1_end_time_left':'platform1_end_time' , 'platform2_start_time_left':'platform2_start_time'})
test = test.reset_index(drop = True).reset_index()

In [33]:
test_right = test.copy()
test_right['index'] = test_right['index']-1

In [37]:
test = test.merge(test_right[['index', 'platform1_end_time', 'platform2_start_time']], left_on = ['index'], 
           right_on = ['index'], suffixes = ['_left', '_right'])
test['gap'] = (test['platform1_end_time_right'] - test['platform1_end_time_left']).dt.seconds

In [51]:
test['train_id'] = (test['gap'] > 45).cumsum()

In [74]:
test[test['train_id'] == 4]['platform1_end_time_left'].median()

Timestamp('2019-11-28 07:12:39.328999936-0500', tz='America/Toronto')

In [75]:
test[test['train_id'] == 4]['platform2_start_time_left'].median()

Timestamp('2019-11-28 07:13:47.104999936-0500', tz='America/Toronto')

In [77]:
train_times = []

for train_id in list(test['train_id'].drop_duplicates()):
    station1 = 'ossington'
    station2 = 'dufferin'
    depart_time = test[test['train_id'] == train_id]['platform1_end_time_left'].median()
    arrival_time = test[test['train_id'] == train_id]['platform2_start_time_left'].median()
    
    train_times.append([station1, station2, depart_time, arrival_time])

In [81]:
pd.DataFrame.from_records(train_times, columns = ['station1', 'station2', 'depart_time', 'arrival_time'])

,station1,station2,depart_time,arrival_time
0,ossington,dufferin,2019-11-28 07:01:54.542000128-05:00,2019-11-28 07:03:20.275000064-05:00
1,ossington,dufferin,2019-11-28 07:06:08.554999808-05:00,2019-11-28 07:07:36.304500224-05:00
2,ossington,dufferin,2019-11-28 07:07:58.127000064-05:00,2019-11-28 07:09:02.604000-05:00
3,ossington,dufferin,2019-11-28 07:10:54.448000-05:00,2019-11-28 07:12:02.168999936-05:00
4,ossington,dufferin,2019-11-28 07:12:39.328999936-05:00,2019-11-28 07:13:47.104999936-05:00
...,...,...,...,...
111,ossington,dufferin,2019-11-28 11:50:13.204000-05:00,2019-11-28 11:51:18.792500224-05:00
112,ossington,dufferin,2019-11-28 11:52:07.271000064-05:00,2019-11-28 11:53:07.840499968-05:00
113,ossington,dufferin,2019-11-28 11:52:42.321999872-05:00,2019-11-28 11:56:48.988000-05:00
114,ossington,dufferin,2019-11-28 11:55:47.710000128-05:00,2019-11-28 11:56:50.436999936-05:00
115,ossington,dufferin,2019-11-28 11:59:44.359000064-05:00,2019-11-28 12:00:40.159500032-05:00

# For All Station Pairs

In [82]:
station_pairs = raw[['station1', 'station2']].drop_duplicates()

In [85]:
for index, row in station_pairs.iterrows():
    if row['station1'] == 'spadina-one' & row['station2'] == 'spadina-two':
        continue
    elif row['station1'] == 'yonge-sheppard-one' & row['station2'] == 'yonge-sheppard-four':
        continue
    elif row['station1'] == 'bloor-yonge-one' & row['station2'] == 'bloor-yonge-two':
        continue
    elif row['station1'] == 'st-george-one' & row['station2'] == 'st-george-two':
    print(row['station1'], row['station2'])

lansdowne dundas-west
spadina-one spadina-two
st-patricks osgoode
chester broadview
woodbine coxwell
high-park runnymede
lawrence_east kennedy
lawrence eglinton
lansdowne dufferin
woodbine main
sherbourne castle-frank
queen king
christie bathurst
york_mills yonge_sheppard-one
high-park keele
queen dundas
wellesley bloor-yonge-one
bay st-george-two
spadina-one dupont
bloor-yonge-one wellesley
yonge_sheppard-four yonge_sheppard-one
sheppard-west wilson
don-mills leslie
queens-park st-patricks
keele high-park
eglinton lawrence
royal-york islington
college wellesley
osgoode st-patricks
union_ttc st-andrew
summerhill st-clair
christie ossington
dupont spadina-one
bloor-yonge-two bay
pape chester
bloor-yonge-one bloor-yonge-two
royal-york old-mill
coxwell woodbine
main woodbine
finch northyorkcentre
pioneer_village york_univeristy
chester pape
dufferin lansdowne
old-mill jane
dundas college
victoria_park main
union_ttc king
yonge_sheppard-one york_mills
davisville eglinton
st-george-two bay
castle-frank sherbourne
yonge_sheppard-four bayview
old-mill royal-york
dufferin ossington
pioneer_village hwy_407
king union_ttc
coxwell greenwood
yonge_sheppard-one northyorkcentre
wellesley college
st-andrew union_ttc
lawrence york_mills
finch_west downsview_park
bloor-yonge-two bloor-yonge-one
islington kipling
osgoode st-andrew
ossington dufferin
leslie bessarion
st-george-one museum
queens-park museum
york_mills lawrence
runnymede jane
broadview castle-frank
bathurst spadina-two
jane old-mill
st-george-two st-george-one
castle-frank broadview
dundas-west keele
st-george-one st-george-two
vaughan_metro_centre hwy_407
sheppard-west downsview_park
keele dundas-west
yonge_sheppard-one yonge_sheppard-four
bay bloor-yonge-two
northyorkcentre finch
st-george-two spadina-two
stclairwest dupont
pape donlands
downsview_park sheppard-west
spadina-two st-george-two
dupont stclairwest
donlands pape
st-clair summerhill
st-george-one spadina-one
st-patricks queens-park
ossington christie
bayview bessarion
islington royal-york
spadina-one st-george-one
king queen
sherbourne bloor-yonge-two
broadview chester
glencairn lawrencewest
dundas-west lansdowne
northyorkcentre yonge_sheppard-one
st-clair davisville
jane runnymede
college dundas
lawrencewest glencairn
st-andrew osgoode
bessarion bayview
finch_west york_univeristy
greenwood donlands
spadina-two bathurst
bayview yonge_sheppard-four
bloor-yonge-two sherbourne
bathurst christie
york_univeristy finch_west
donlands greenwood
runnymede high-park
kipling islington
museum st-george-one
bessarion leslie
museum queens-park
dundas queen
hwy_407 pioneer_village
eglinton davisville
downsview_park finch_west
wilson sheppard-west
davisville st-clair
leslie don-mills
hwy_407 vaughan_metro_centre
greenwood coxwell
spadina-two spadina-one
kennedy lawrence_east
york_univeristy pioneer_village
main victoria_park

In [88]:
raw[raw['station1'] == 'warden']

Empty DataFrame
Columns: [station1, direction, platform1_end_time, station2, platform2_start_time, year, month, day, hour, date, dow, period]
Index: []